<nav>
    <ul>
        <li><%= link_to 'All', tasks_path %></li>
        <li><%= link_to 'Active', tasks_path(status: :active) %></li>
        <li><%= link_to 'Completed', tasks_path(status: :completed) %></li>
    </ul>
</nav>
